:root {
  --primary-color: #4247c1;
  --secondary-color: #1c1c29;
  --bg-light: #ffffff;
  --bg-card: #f8f9fa;
  --border-color: #e0e0e0;
}

body {
  background: var(--bg-light);
  color: var(--secondary-color);
}

h1,
h2,
h3 {
  color: var(--primary-color);
  font-family: "Roboto", "Segoe UI", sans-serif;
}
