:root {
  --primary-color: #00f5ff;
  --bg-dark: #0b0b0b;
  --bg-card: #1a1a1a;
}

body {
  background: var(--bg-dark);
  color: #e6e6e6;
}

h1,
h2,
h3 {
  color: var(--primary-color);
  font-family: "Orbitron", sans-serif;
  letter-spacing: 1px;
}
